{% extends "base.html" %}

{% block title %}Insights - Users{% endblock %}

{% block wrapper %}

    <!-- page header -->
    <div class="page-header">
        <h1>历史预测</h1>
        <h3><i class="fa fa-bullseye fa-fw"></i>准确率:{{sums[0]}} 召回率:{{sums[1]}}, 滤重召回率:{{sums[2]}}</h3>
        <h3><a href="{{url_for('main.fts')}}"><i class="fa fa-bullseye fa-fw"></i>当前所用特征</a></h3>
    </div>
    <!-- end page header -->

    <!-- table list -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>实际状态</th>
                                    <th>预测状态</th>
                                    <th>预测概率</th>
                                    <th>暴跌日期</th>
                                    <th>详情</th>
                                    <th>更新时间</th>
                                </tr>
                            </thead>
                            <tbody>
                               <td>
                                {% for u in res %}
                                <tr>
                                    <td>
                                        {{ u[0] }}
                                    </td>
                                    <td>
                                        {{ u[1] }}
                                    </td>

                                    {% if u[4] == 0 %} 
                                        <td class='success'>{{ u[2] }}</td>
                                    {% elif u[4] == 1 %} 
                                        <td>{{ u[2] }}</td>
                                    {% endif %}
                                    <td>
                                        {{ u[3] }}
                                    </td>
                                    <td>
                                        {{ u[5] }}
                                    </td>
                                    <td>
                                        <a href="http://192.168.200.8:5000/jrkp?day={{u[6]}}">详情</a>
                                    </td>
                                    <td>
                                        {{ u[7] }}
                                    </td>
                                </tr>
                                {% endfor %}
                               </td>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- end table list -->

{% endblock wrapper %}
