{% block page_content %}
<section class="content">
<div class="row large-margin">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  m-t input">
        <div class="operations">
            <form id="image-form"  onsubmit="return false;">
                <div>
                    <input type='file'  id='imgfile' style="display:none"/>
                    <a type='button' class="btn btn-app btn-default" id='btnLoad' ng-click='search_quick();'><i class="fa fa-camera"></i>选择周期</a>
                    <select id="indicator"  class="selectpicker" ng-change="select_canvas(xselect);" ng-model="xselect">
                        <option value="K3">K3</option>
                        <option value="K11">K11</option>
                        <option value="K30">K30</option>
                        <option value="K60">K60</option>
                        <option value="K120">K120</option>
                    </select>
                </div>
                 <button href="" class="btn btn-warning" id="search_quick" ng-click="search_quick()"><i class="fa fa-search"></i>全网匹配</button>
            </form>
</div>
</section>

<script src="/static/js/controller.js"></script>
{% endblock %}
