{% extends "base.html" %}

{% block title %}Insights - Users{% endblock %}

{% block wrapper %}

    <!-- page header -->
    <div class="page-header">
        <h1>今日看盘({{day}})</h1>
        <h3><i class="fa fa-bullseye fa-fw"></i>{{dp[0]}}的概率:{{dp[1]}}</h3>
        <h3><a href="http://192.168.200.8:5000/dapan"><i class="fa fa-bullseye fa-fw"></i>前往历史预测</a></h3>
    </div>
    <!-- end page header -->

    <!-- table list -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>特征编号</th>
                                    <th>特征ID</th>
                                    <th>特征名</th>
                                    <th>特征值</th>
                                    <th>特征区分度</th>
                                </tr>
                            </thead>
                            <tbody>
                               <td>
                                {% for u in res %}
                                <tr>
                                    <td>
                                        {{ u[0] }}
                                    </td>
                                    <td>
                                        {{ u[1] }}
                                    </td>
                                    <td>
                                        {{ u[2] }}
                                    </td>
                                    <td>
                                        {{ u[3] }}
                                    </td>
                                    <td>
                                        {{ u[4] }}
                                    </td>
                                </tr>
                                {% endfor %}
                               </td>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- end table list -->

{% endblock wrapper %}
